extend layout
block content
  p
    | Goal: interactive Level Up, a card game.
  p
    | Learning Node.js (and Express framework, Jade templating engine, Stylus CSS preprocessor, socket.IO), jQuery
    br
    | I think web development is the coolest thing ever.
  P
    | Steps:
    br
    | 1. Set up server-client
    br
    | 2. Figure out how to distinguish the different clients to the server (shuffling purposes)
    br
    | 3. Make decks of cards, shuffle, deal, etc.
    br
    | 4. Figure out joining the game, gameplay rules etc.
    br
    | (Optional: Make different tables; set up a database to keep track of different tables and maybe of players if I get that far)

  p
    | 1/9: SERVER-CLIENT is set up! Meaning: If I do something on my laptop, you can see it. Try clicking the button! You can see everyone who has put their name in! (Provided that they've put in their real name).
    | 1/11: I figured out how to hide the button after someone joins a game! YAY. jQuery is magic apparently. YAY!

block sidebar
  .widget
    h1 Cool box
    p
      | This box came with the tutorial and I think it's pretty cool. Yay!

