!!!5
html
  script(src="/socket.io/socket.io.js")
  script(type='text/javascript')
      var socket = io.connect();

  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
  body
    header
      h1 Welcome to To-Be Level Up!
    .container
      .main-content
        block content
      input(type="button", value = "Join game")
      <h2 id="name0"> blah1</h2>
      <h2 id="name1"></h2>
      <h2 id="name2"></h2>
      <h2 id="name3"></h2>

      script(type='text/javascript')

        $("h2").hide();
        $("input").click(function () {
            var enteredData = prompt("What's your name?");
            socket.emit('increment', enteredData);
            $(this).hide(function () {
              $(this).remove();
            });
          });

        socket.on('alert', function (namesArray) {
          for (var i=0; i < namesArray.length; i++)
            document.getElementById("name" + i).innerHTML=namesArray[i];
          $("h2").show();
        });

        socket.on('goodbye', function () {
          alert("Sorry, table at capacity");
        });

      .sidebar
        block sidebar