!!!5
html
  script(src="/socket.io/socket.io.js")
  script(type='text/javascript')
      var socket = io.connect();

  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
  
  body
    header
      h1 Welcome to Level Up!
    .container
      .main-content
        block content
      center
        h10 Waiting for a player to declare...
        h7(id="declaration")
        br
        br
        input(type="button", id="joinGame", value = "Join game")
        input(type="button", id="drawCard", value = "Draw Card")
      br
      br
      center 
        h4(id="waiting") Waiting for players...
      .sidebar
        .widget
          h2 Table
          h3(id="name0")
          h3(id="name1")
          h3(id="name2")
          h3(id="name3")

      h5(id="whoisdrawing")
      h5(id="yougotthiscard")
      h8(id="takingturn")
      h9(id="partner")

      script(type='text/javascript')
        $("h4").hide();
        $("#drawCard").hide();
        $("#whoisdrawing").hide();
        $("#yougotthiscard").hide();
        $("#takingturn").hide();
        $("#partner").hide();
        $("h10").hide();

        var name;
        var cards = [];
        var margintop = 0;
        var declare = 0;
        var suitDec;
        var numDec;
        var onLevel;
        var idNum = 0;
        var nobody = 0;
        var stacked = 0;
        var stack = 0;

        $("#joinGame").click(function () {
          var enteredData = prompt("What's your name?");
          socket.emit('join', enteredData);
          name = enteredData;
          $(this).hide(function () {
            $(this).remove();
          });
          $("h4").show();
        });

        $("#drawCard").click(function () {
          socket.emit('drew');
          $("#drawCard").hide();
        });

        socket.on('start', function () {
          $("#drawCard").show();
        });

        socket.on('level', function (players, numbers) {
          $("h4").hide();
          for (var i = 0; i < 4; i++) {
            if (numbers[i] == 1) {
              numbers[i] = "A";
            } else if (numbers[i] > 10) {
              if (numbers[i] == 11) {
                numbers[i] = "J";
              } else if (numbers[i] == 12) {
                numbers[i] = "Q";
              } else {
                numbers[i] = "K";
              }
            }
            document.getElementById("name" + i).innerHTML = players[i] + ", level: " + numbers[i];
          }
          $("#name0").css("margin-left", "50px")
          $("#name0").css("margin-top", "-263px")
          $("#name1").css("margin-right", "208px")
          $("#name1").css("float", "right")
          $("#name1").css("margin-top", "-150px")
          $("#name1").css("margin-left", "-210px")
          $("#name2").css("margin-left", "53px")
          $("#name2").css("margin-top", "8px")
          $("#name3").css("margin-left", "210px")
          $("#name3").css("margin-top", "-175px")
          $("#name3").css("margin-right", "-200px")
          $("h3").show();
          socket.emit('start');
        });

        socket.on('personal level', function(level) {
          if (level == 11) {
            onLevel = "J ";
          } else if (level == 12) {
            onLevel = "Q ";
          } else if (level == 13) {
            onLevel = "K ";
          } else if (level == 1) {
            onLevel = "A ";
          } else {
            onLevel = level;
          }
        });

        socket.on('drawing', function(name) {
          document.getElementById("whoisdrawing").innerHTML = name + " is drawing a card";
          $("#whoisdrawing").css("text-align", "center")
          $("#whoisdrawing").css("margin-top", "55px")
          $("#whoisdrawing").show();
        });

        socket.on('giveCard', function(card) {
          console.log("card: " + card + "level: " + onLevel + ".");
          var cardSuit = card.substring(0, card.length - 2);
          var cardNum = card.substring(card.length - 2, card.length);
          var str = "<input type='image' id ='" + idNum + "' src='" + cardSuit + "'><p>" + cardNum + "</p>";
          $("<h6>" + str).appendTo(document.body);
          var elem = document.getElementById("" + idNum);
          elem.onclick = function() { declareACard(cardSuit, cardNum) };
          console.log(elem);
          idNum += 1;
        });

        function declareACard(suit, num) {
          $("h10").hide();
          suitDec = suit;
          numDec = num;
          socket.emit('declare', name, suit, num);
        };

        socket.on('cannotDeclare', function() {
          alert("You cannot declare that!");
        });

        socket.on('declarationHappened', function (player, suit, number) {
          $("h10").hide();
          alert(player + " declared!");
          if (number == 11) {
            number = "J";
          } else if (number == 12) {
            number = "Q";
          } else if (number == 13) {
            number = "K";
          } else if (number == 1) {
            number = "A";
          }
          document.getElementById("declaration").innerHTML = player + " declared: " + number +  " of <img src='" + suit + "' height = '25px'>!";
          declare = 1;
          if (suit.indexOf("spade") > -1) {
            suitDec = "spade"
          } else if (suit.indexOf("club") > -1) {
            suitDec = "club"
          } else if (suit.indexOf("heart") > -1) {
            suitDec = "heart"
          } else {
            suitDec = "diamond"
          }
          console.log(suitDec)
          numDec = number;
          $("#declaration").show();
        });

        socket.on('someoneDeclare', function() {
          console.log("someonedeclare");
          $("h10").show();
          $("#whoisdrawing").hide();
          console.log("end of someonedeclare");
        });

        socket.on('who stacking', function(name) {
          console.log("who stacking begin");
          $("#whoisdrawing").hide();
          alert("Game starting, " + name + " is stacking cards.");
        });

        socket.on('stack', function(card) {
          if (stack == 0) {
            alert("Here's your stack");
          }
          stack += 1;
          var cardSuit = card.substring(0, card.length - 2);
          var cardNum = card.substring(card.length - 2, card.length);
          var str = "<input type='image' id ='" + idNum + "' src='" + cardSuit + "'><p>" + cardNum + "</p>";
          console.log("string in stack: " + str);
          $("<h6>" + str).appendTo(document.body);
          $("<h6>" + str).hide();
          var elem = document.getElementById("" + idNum);
          var id = idNum;
          elem.onclick = function() { stackACard(cardSuit, cardNum) };
          idNum += 1;
          if (stack == 4) {
            alert("Choose four cards to stack"); 
          }
        });

        function stackACard(suit, num) {
          socket.emit('stacked', suit, num);
          stacked += 1;
          if (stacked == 4) {
            alert("You're going to choose your partner (by a card's suit and number) now.");
            var which = prompt("First or second? Enter one of these: first or second");
            while (which != "first" && which != "second" && which != "First" && which != "Second") {
              which = prompt("You put in an incorrect choice. Enter one of these: first or second");
            }
            var number = prompt("What number? Enter 10 or one number/letter: A, 2, ..., 9, J, Q, K");
            while (number != "A" && number != "2" && number != "3" && number != "4" && number != "5" && number != "6" && number != "7" && number != "8" && number != "9" && number != "10" && number != "J" && number != "Q" && number != "K") {
              number = prompt("You put in an incorrect number. Enter 10 or one number/letter: A, 2, ..., 9, J, Q, K");
            }
            var suit = prompt("What suit? Enter one of these: diamond, club, heart, or spade");
            while ((suit != "diamond" && suit != "club" && suit != "heart" && suit != "spade" && suit!= "Diamond" && suit != "Club" && suit != "Heart" && suit != "Spade") || suit == suitDec) {
              if (suit == suitDec) {
                suit = prompt("You cannot choose the suit you declared. Try again");  
              }   
              suit = prompt("You put in an incorrect suit. Enter one of these: diamond, club, heart, or spade");
            }
            socket.emit('doneStacking', which, suit, number);
          }
        };

        socket.on('who taking turn', function(name) {
          document.getElementById("whoisdrawing").innerHTML = name + " is playing a card";
          $("#whoisdrawing").show();
          NEED TO GO THROUGH ALL THE CARDS AND MAKE THEM UNCLICKABLE.
        });

        socket.on('partner', function(which, suit, number, declarer) {
          console.log("partner client");
          document.getElementById("partner").innerHTML = "The person who plays the " + which + " " + number + " of " + suit + "s is " + declarer + "'s partner" + "<br><br>";
          $("#partner").css("margin-top", "-412px");
          $("#partner").css("float", "right");
          $("#partner").css("text-align", "center");
          $("#partner").css("margin-right", "150px");
          $("#partner").show();
          $("#table").hide();
          socket.emit('startGame', declarer);
        });

        socket.on('play', function() {

        });

        socket.on('goodbye', function () {
          $("h4").hide();
          alert("Sorry, table at capacity");
          document.getElementById("waiting").innerHTML = "Table at capacity";
          $("h4").show();
        });

        socket.on('announceLeave', function(person) {
          $("h3").hide();
          $("h4").show();
          $("h5").hide();
          alert(person + " left the game... to wait");
        });

        socket.on('rejoined', function() {
          alert("Four people in the game again yay!");
        });

        function binarySearch(insert) {
          var high = cards.length - 1;
          var low = 0;
          var counter = 0;
          var add = 0;
          while (low <= high) {
            counter = Math.floor((low + high) / 2);
            console.log("begin high: " + high);
            console.log("begin low: " + low);
            console.log("begin counter: " + counter);
            add = 0;
            if (cards[counter] > insert && ( (counter - 1 >= 0 && cards[counter - 1] < insert) || counter - 1 < 0) ) {
              console.log("fit");
              break;
            } else if (cards[counter] < insert) {
              low = counter + 1;
              add = 1;
              console.log("high: " + high);
              console.log("low: " + low);
              console.log("counter: " + counter);
              console.log("low add");
            } else if (counter - 1 >= 0 && cards[counter - 1] > insert) {
              high = counter - 1;
              console.log("high: " + high);
              console.log("low: " + low);
              console.log("counter: " + counter);
              console.log("high subtract");
            } else {
              console.log("break");
              break;
            }
          }
          if (add) {
            counter += 1;
          }
          cards.push(insert);
          for (var i = cards.length - 1; i > counter; i--) {
            cards[i] = cards[i - 1];
          }
          cards[counter] = insert;
          return counter;
          console.log(cards);
        };

        function two(insert) {
          var counter = 0;
          while (1) {
            if ( ((counter + 1 < cards.length && cards[counter+1] > insert) || counter + 1 >= cards.length) && ((counter - 1 >= 0 && cards[counter - 1] < insert) || counter - 1 < 0) ) {
              break;
            } else if (cards[counter] < insert) {
              if (counter == 0) {
                if (cards.length == 1) {
                  counter = Math.floor((cards.length + 1)/2);
                } else {
                  counter = Math.floor(cards.length/2);
                }
              } else {
                counter = counter*2;
              }
            } else if (counter - 1 >= 0 && cards[counter - 1] > insert) {
              if (counter == 0) {
                if (cards.length == 1) {
                  counter = Math.floor((cards.length + 1)/2);
                } else {
                  counter = Math.floor(cards.length/2);
                }
              } else {
                counter = counter/2;
              }
            } else {
              break;
            }
          }
          if ( (counter + 1 < cards.length && cards[counter+1] == insert) || (counter - 1 >= 0 && cards[counter-1] == insert) ) {
            return 1;
          } else {
            return 0;
          }
        }
